<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277262482690-790fpo3doh6ba7t4kkp5rhsftqqfcj9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277262482690-790fpo3doh6ba7t4kkp5rhsftqqfcj9p</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Cn1y9jVffqDIOvmD2vc9wr0NJ6Ew4mM</string>
	<key>GCM_SENDER_ID</key>
	<string>277262482690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clubful.ClubfulIOS</string>
	<key>PROJECT_ID</key>
	<string>clubful-ac720</string>
	<key>STORAGE_BUCKET</key>
	<string>clubful-ac720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:277262482690:ios:1ec759ec1dbc66be</string>
	<key>DATABASE_URL</key>
	<string>https://clubful-ac720.firebaseio.com</string>
</dict>
</plist>