<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1060579091110-hkphp1n1pf57ifvo34gv8imh6q4ooqck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060579091110-hkphp1n1pf57ifvo34gv8imh6q4ooqck</string>
	<key>API_KEY</key>
	<string>AIzaSyCSb2fkA6buA0qgsrr5o5fx3aSKi9fxXeg</string>
	<key>GCM_SENDER_ID</key>
	<string>1060579091110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.decube.Clubful</string>
	<key>PROJECT_ID</key>
	<string>clubful-713f9</string>
	<key>STORAGE_BUCKET</key>
	<string>clubful-713f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060579091110:ios:3aeee5116b997bee</string>
	<key>DATABASE_URL</key>
	<string>https://clubful-713f9.firebaseio.com</string>
</dict>
</plist>